<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Department</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Department Table</h3>
    
        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Department_name</th>
                    <th>Email</th>    
                 </tr>
                {% for k in department %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{k.dept_name}}</td>
                    <td>{{k.email}}</td>
                </tr>    
                {% empty %}
                <tr>
                    <td colspan="3">Nothing found.</td></tr>
                {% endfor %}                    
            </tbody>
        </table>
    </body>
</html>